[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
"delegator.py" = "*"
pyyaml = "*"
"jinja2" = "*"
click = "*"
logme = "*"

[dev-packages]

[requires]
python_version = "3.7"
