[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
"delegator.py" = "*"
pyyaml = "*"
"jinja2" = "*"
click = "*"
logme = "*"
background = "*"
docopt = "*"
kubeconfig = "*"

[dev-packages]
bruce-operator = {editable = true, path = "."}
"flake8" = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
